---
Language:        Cpp
BasedOnStyle:  LLVM
ColumnLimit: 120
IndentWidth: 4
Standard: c++17
AccessModifierOffset: -3
AlignAfterOpenBracket: DontAlign
AllowShortLambdasOnASingleLine: None
AllowShortFunctionsOnASingleLine: Empty
